<% include ./partials/header.ejs %>

    <h1>Novo Restaurante</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form action="/restaurantes/distancia" method="get">
                
                <input type="hidden" name="lat" id="lat" placeholder="Latitude"/>
                <input type="hidden" name="lng" id="lng" placeholder="Longitude"/>
                
                <div id="map"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Ver"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        function initMap() {
            var location = { lat: -25.363, lng: 131.044 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: location
            });

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                draggable: true
            });

            marker.addListener("dragend", function() {
                document.querySelector("#lat").value = marker.position.lat();
                document.querySelector("#lng").value = marker.position.lng()
            });

            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((coordenadas) => {
                    var latLng = new google.maps.LatLng(coordenadas.coords.latitude, coordenadas.coords.longitude);
                    marker.setPosition(latLng);
                    map.panTo(latLng);
                })
            }

        }
    </script>
<% include ./partials/footer.ejs %>
