<% include ./partials/header.ejs %>

    <h1>Restaurantes</h1>

    <a href="/restaurantes/novo" class="btn btn-primary">Novo Restaurante</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% restaurantes.map(restaurante => {%>
                <tr>
                        <td><%= restaurante._id %></td>
                        <td><%= restaurante.name %></td>  
                        <td>
                            <a href="/restaurantes/<%= restaurante._id %>/deletar" 
                                class="btn btn-danger">Deletar</a>    
                        </td>                  
                </tr> 
            <% }) %>
        </tbody>
    </table>
<% include ./partials/footer.ejs %>
